@charset = "UTF-8";

img#logo {
	position: absolute;
}
header#cabecalho h1 {
	/*text-align: justify;*/
	font-family: Monotype Corsiva;
	font-size: 50pt;
	margin-bottom: 0px;
	margin-left: 70px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
header#cabecalho h2 {
	font-family: Monotype Corsiva;
	font-size: 30pt;
	margin-left: 80px;
	/*padding: 0px;*/
	margin-top: -10px;
}
nav#menu {
	display: block;
	position: absolute;
	top: 0px;
	left: 600px;
}
nav#menu ul {
	list-style: none;
	text-transform: uppercase;
}
nav#menu li {
	display: inline-block;
	background-color: #333333;
	padding: 10px;
	margin: 2px;
}
nav#menu a {
	color: #ffffff;
	text-decoration: none;
}
/*section#corpo h1{
	position: relative;
	font-family: Stencil;
	font-size: 30pt;
	left: 270px;
	top: 100px;
}*/
body {
	background-color: #dddddd;
	/*color: rgba(0,0,0,1);*/
}
div#interface {
	background-color: white;
	width: 1150px;
	margin: -20px auto 100px auto;
	padding: 10px 10px 120px 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0.5);
}
table#tabelaspec {
	border: 1px solid #ffffff;
	background-color: #cccccc;
	border-spacing: 0px;
	margin-right: auto;
	margin-left: auto;
	font-family: Times;
	font-size: 20pt;
	text-align: center;
}
table#tabelaspec td {
	border: 1px solid #ffffff;
	padding: 10px;
}
caption#tituloTabela {
	font-family: Monotype Corsiva;
	font-size: 25pt;
}
img#logo1 {
	position: relative;
	margin: 20px;
	width: 245,7px;
	height: 347,1px;
	top: 100px;
	left: 200px;
}
img#logo2 {
	position: relative;
	margin: 20px;
	width: 245,7px;
	height: 347,1px;
	top: 100px;
	left: 200px;
}
img#logo3 {
	position: relative;
	margin: 20px;
	width: 245,7px;
	height: 347,1px;
	top: 100px;
	left: 200px;
}