@charset = "UTF-8";

a#mensagem {
	position: absolute;
	font-family: Arial;
	font-size: 10pt;
	border: 1px solid black;
	background-color: #cccccc;
	margin-top: 50px;
	margin-right: 100px;
	padding: 5px;
	/*color: #000000;*/
	text-decoration: none;
}